/Assignment1/.idea/
Assignment1/Assignment1.iml
/Assignment1/out/
Assignment2/.idea/Assignment2.iml
/Assignment2/out/
/Assignment2/.idea/
/Assignment3/out/production
/Assignment3/.idea/
*.xml
*.iml
*.class
